<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods" thread-count="2">
    <parameter name="baseUrl" value="https://qa.koel.app/"/>
    <parameter name="email" value="exapmple@gmail.com"></parameter>
    <test name="Example Test" preserve-order="false">
        <classes>
            <!--      <class name="CucumberRunner"/>-->
            <class name="LoginTests"/>
            <class name="RegistrationTest"/>
            <class name="AddSongToPlaylistTest"/>
            <class name="PlaySongTest"/>
            <class name="DeletePlaylistTest"/>
            <class name="RenamePlaylistTest"/>
        </classes>
    </test>
</suite>